.nav-menu {
    height: 52px;
    width: 100%;
    display: flex;
    justify-content: center;
    .resume-icon {
        height: 22px;
        position: absolute;
        top: 14px;
        left: 58px;
        z-index: 999;
    }
    .nav-items {
        width: calc(100% - 80px);
        border-bottom: 1px solid #dbdbdb;
        height: inherit;
        display: flex;
        justify-content: flex-end;
        .nav-item {
            display: block;
            padding: 11px 16px;
            position: relative;
            .fa-bars,
            .fa-times {
                display: none;
            }
            >span,
            i {
                display: block;
                width: 100%;
                height: 100%;
                font-size: 16px;
                color: #7a7a7a;
                line-height: 30px;
            }
            span:hover,
            i:hover {
                color: #363636;
            }
        } // .nav-item:hover {
        //     color: #363636;
        //     background: black;
        // }
        .nav-line:hover {
            border-bottom: 1px solid #3273dc; // box-sizing: border-box;
            height: 52px;
        }
    }
}

.resume-container {
    margin: 28px 24px;
    .resume-header {
        display: flex;
        flex-direction: column; // justify-content: center;
        align-items: center;
        .faceimg {
            display: block;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            margin-bottom: 10px;
        }
        .myEngname {
            font-size: 40px;
            color: #363636;
            font-weight: 600;
        }
        .myChnname {
            font-size: 32px;
            color: #363636;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .myintro {
            font-size: 14px;
            color: #4a4a4a;
            margin-bottom: 16px;
            text-align: center;
            min-width: 300px;
        }
        .myskill {
            font-size: 14px;
            text-align: center;
            color: #4a4a4a;
            margin-bottom: 24px;
            max-width: 500px;
        }
        .centered {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            >a {
                padding: 8px 18px;
                font-size: 24px;
                color: #4a4a4a; // font-weight: 600;
                .fa {
                    margin-right: 6px;
                }
            }
        }
    }
    .collections {
        // padding-top: 40px;
        .coll-title {
            color: #363636;
            font-size: 32px;
            margin-bottom: 24px;
            padding-left: 12px;
        }
        .coll-container {
            display: flex;
            flex-wrap: wrap;
            .coll-box {
                display: block;
                width: 50%;
                padding: 12px; // flex-basis: 25%;
                min-width: 320px;
                .coll-innerbox {
                    display: block;
                    padding: 20px;
                    border-radius: 5px;
                    background-color: #fff; // border: 1px solid #363636;
                    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
                    img {
                        width: 100%; // max-width: 640px;
                    }
                    .box-title {
                        font-size: 24px;
                        color: #363636;
                        margin-bottom: 4px;
                    }
                    .box-describe {
                        font-size: 16px;
                        color: #4a4a4a;
                    }
                }
            }
        }
    }
}

.coll-innerbox:hover {
    transform: translate(0, -2px);
    box-shadow: 0 17px 40px 0 rgba(1, 0, 0, .19), 0 0 0 1px rgba(10, 10, 10, .1) !important;
    transition: .2s;
}

@media only screen and (max-width: 800px) {
    #collections>.coll-container>.coll-box {
        width: 100%;
    }
    .nav-menu>.nav-items {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start; //  overflow: hidden;
        &.hidden {
            overflow: hidden;
        }
        .nav-item {
            background: #fff;
            width: 100%;
            z-index: 99;
            text-align: right;
            .fa {
                font-size: 24px;
                display: block;
                height: 30px;
                line-height: 30px;
            }
        }
    }
    .nav-item:last-child {
        margin-bottom: 10px; // border-bottom: 1px solid #dbdbdb;
        transition: 0;
        box-shadow: 0 2px 2px 0 rgba(1, 0, 0, .19);
    }
    .nav-menu>.resume-icon {
        left: 18px;
    }
}

.ability {
    width: 100%;
    background-color: #f7f7f8;
    padding: 32px 24px; // display: flex;
    // justify-content: center;
    transition: 2s;
    position: relative;
    .ability-title {
        color: #363636;
        font-size: 32px;
        margin-bottom: 24px;
        padding-left: 12px;
    }
    .ability-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0 12px;
        .ability-list {
            max-width: 580px;
            .ability-item {
                font-size: 12px;
                color: #4a4a4a;
                margin-bottom: 10px;
            }
        }
    }
    .ability-close {
        position: absolute;
        right: 10px;
        top: 10px;
        .fa-times-circle-o {
            font-size: 24px;
            color: #7a7a7a;
        }
         :hover {
            color: #363636;
        }
    }
    &.hide {
        display: none; // position: relative;
        // top: 200px;
        // z-index: -1;
        // height: 1px;
    }
}

