@charset "UTF-8";
* {
  box-sizing: border-box;
  /*手机网站点击链接触发颜色块的问题解决*/
  -webkit-tap-highlight-color: transparent;
  /*蓝框*/
  outline: none;
  /*禁止选择*/
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font: 12px/1.5 "hiragino sans gb", arial;
  min-width: 320px; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  /*手型*/
  cursor: pointer; }

.nav-menu {
  height: 52px;
  width: 100%;
  display: flex;
  justify-content: center; }
  .nav-menu .resume-icon {
    height: 22px;
    position: absolute;
    top: 14px;
    left: 58px;
    z-index: 999; }
  .nav-menu .nav-items {
    width: calc(100% - 80px);
    border-bottom: 1px solid #dbdbdb;
    height: inherit;
    display: flex;
    justify-content: flex-end; }
    .nav-menu .nav-items .nav-item {
      display: block;
      padding: 11px 16px;
      position: relative; }
      .nav-menu .nav-items .nav-item .fa-bars,
      .nav-menu .nav-items .nav-item .fa-times {
        display: none; }
      .nav-menu .nav-items .nav-item > span,
      .nav-menu .nav-items .nav-item i {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 16px;
        color: #7a7a7a;
        line-height: 30px; }
      .nav-menu .nav-items .nav-item span:hover,
      .nav-menu .nav-items .nav-item i:hover {
        color: #363636; }
    .nav-menu .nav-items .nav-line:hover {
      border-bottom: 1px solid #3273dc;
      height: 52px; }

.resume-container {
  margin: 28px 24px; }
  .resume-container .resume-header {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .resume-container .resume-header .faceimg {
      display: block;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      margin-bottom: 10px; }
    .resume-container .resume-header .myEngname {
      font-size: 40px;
      color: #363636;
      font-weight: 600; }
    .resume-container .resume-header .myChnname {
      font-size: 32px;
      color: #363636;
      font-weight: 500;
      margin-bottom: 20px; }
    .resume-container .resume-header .myintro {
      font-size: 14px;
      color: #4a4a4a;
      margin-bottom: 16px;
      text-align: center;
      min-width: 300px; }
    .resume-container .resume-header .myskill {
      font-size: 14px;
      text-align: center;
      color: #4a4a4a;
      margin-bottom: 24px;
      max-width: 500px; }
    .resume-container .resume-header .centered {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .resume-container .resume-header .centered > a {
        padding: 8px 18px;
        font-size: 24px;
        color: #4a4a4a; }
        .resume-container .resume-header .centered > a .fa {
          margin-right: 6px; }
  .resume-container .collections .coll-title {
    color: #363636;
    font-size: 32px;
    margin-bottom: 24px;
    padding-left: 12px; }
  .resume-container .collections .coll-container {
    display: flex;
    flex-wrap: wrap; }
    .resume-container .collections .coll-container .coll-box {
      display: block;
      width: 50%;
      padding: 12px;
      min-width: 320px; }
      .resume-container .collections .coll-container .coll-box .coll-innerbox {
        display: block;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1); }
        .resume-container .collections .coll-container .coll-box .coll-innerbox img {
          width: 100%; }
        .resume-container .collections .coll-container .coll-box .coll-innerbox .box-title {
          font-size: 24px;
          color: #363636;
          margin-bottom: 4px; }
        .resume-container .collections .coll-container .coll-box .coll-innerbox .box-describe {
          font-size: 16px;
          color: #4a4a4a; }

.coll-innerbox:hover {
  transform: translate(0, -2px);
  box-shadow: 0 17px 40px 0 rgba(1, 0, 0, 0.19), 0 0 0 1px rgba(10, 10, 10, 0.1) !important;
  transition: .2s; }

@media only screen and (max-width: 800px) {
  #collections > .coll-container > .coll-box {
    width: 100%; }
  .nav-menu > .nav-items {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start; }
    .nav-menu > .nav-items.hidden {
      overflow: hidden; }
    .nav-menu > .nav-items .nav-item {
      background: #fff;
      width: 100%;
      z-index: 99;
      text-align: right; }
      .nav-menu > .nav-items .nav-item .fa {
        font-size: 24px;
        display: block;
        height: 30px;
        line-height: 30px; }
  .nav-item:last-child {
    margin-bottom: 10px;
    transition: 0;
    box-shadow: 0 2px 2px 0 rgba(1, 0, 0, 0.19); }
  .nav-menu > .resume-icon {
    left: 18px; } }

.ability {
  width: 100%;
  background-color: #f7f7f8;
  padding: 32px 24px;
  transition: 2s;
  position: relative; }
  .ability .ability-title {
    color: #363636;
    font-size: 32px;
    margin-bottom: 24px;
    padding-left: 12px; }
  .ability .ability-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 12px; }
    .ability .ability-container .ability-list {
      max-width: 580px; }
      .ability .ability-container .ability-list .ability-item {
        font-size: 12px;
        color: #4a4a4a;
        margin-bottom: 10px; }
  .ability .ability-close {
    position: absolute;
    right: 10px;
    top: 10px; }
    .ability .ability-close .fa-times-circle-o {
      font-size: 24px;
      color: #7a7a7a; }
    .ability .ability-close :hover {
      color: #363636; }
  .ability.hide {
    display: none; }
